[View in Colaboratory](https://colab.research.google.com/github/harekrishnamahto9872/Acadview/blob/master/Assignment_5.ipynb)

In [0]:
##ASSIGNMENT 5

#Ques 1

import pandas as pd

In [0]:
df=pd.read_csv('https://raw.githubusercontent.com/Shreyas3108/Weather/master/weather.csv')

In [18]:
df.isnull().sum()

Date             0
Location         0
MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustDir      0
WindGustSpeed    0
WindDir9am       0
WindDir3pm       0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
RainToday        0
RISK_MM          0
RainTomorrow     0
dtype: int64

In [11]:
df.dropna(inplace=True)
df.isnull().sum()

Date             0
Location         0
MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustDir      0
WindGustSpeed    0
WindDir9am       0
WindDir3pm       0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
RainToday        0
RISK_MM          0
RainTomorrow     0
dtype: int64

In [0]:
df2=pd.read_csv('https://raw.githubusercontent.com/Shreyas3108/Weather/master/weather.csv')

In [0]:
df2.fillna(df2.mean(),inplace=True)

In [14]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 24 columns):
Date             366 non-null object
Location         366 non-null object
MinTemp          366 non-null float64
MaxTemp          366 non-null float64
Rainfall         366 non-null float64
Evaporation      366 non-null float64
Sunshine         366 non-null float64
WindGustDir      363 non-null object
WindGustSpeed    366 non-null float64
WindDir9am       335 non-null object
WindDir3pm       365 non-null object
WindSpeed9am     366 non-null float64
WindSpeed3pm     366 non-null int64
Humidity9am      366 non-null int64
Humidity3pm      366 non-null int64
Pressure9am      366 non-null float64
Pressure3pm      366 non-null float64
Cloud9am         366 non-null int64
Cloud3pm         366 non-null int64
Temp9am          366 non-null float64
Temp3pm          366 non-null float64
RainToday        366 non-null object
RISK_MM          366 non-null float64
RainTomorrow     366 non-null object
dtypes: float64(12), int64(5), object(7)
memory usage: 68.7+ KB

In [0]:
temp=df2['MaxTemp']

In [20]:
temp

0      24.3
1      26.9
2      23.4
3      15.5
4      16.1
5      16.9
6      18.2
7      17.0
8      19.5
9      22.8
10     25.2
11     27.3
12     27.9
13     30.9
14     31.2
15     32.1
16     31.2
17     30.0
18     32.3
19     33.4
20     33.4
21     19.4
22     18.5
23     24.3
24     28.4
25     26.9
26     22.2
27     28.0
28     24.3
29     24.1
       ...
336    27.6
337    28.9
338    20.7
339    21.3
340    18.0
341    16.0
342    17.9
343    20.0
344    22.0
345    22.4
346    23.9
347    26.1
348    21.1
349    19.6
350    21.0
351    24.1
352    24.7
353    28.5
354    27.4
355    20.6
356    15.0
357    18.0
358    20.7
359    25.5
360    26.1
361    30.7
362    28.4
363    19.9
364    26.9
365    30.2
Name: MaxTemp, Length: 366, dtype: float64